* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(350, 75%, 89%, 0.896);
    height: 100vh
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 4px 8px hsla(0, 0%, 0%, 0.36);
    
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 300px;
    position: relative;
}
button {
    width: 68px;
    height: 43px;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.418);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Yes {
    background: hsl(347, 97%, 47%);
    color: white;
}
.No {
    background: #eee;
    position: absolute;
    left: 200px;

}
.para {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-style: 300;
}
.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-top: 8px;
    font-family: 'Nunito';
    font-size: larger;
}
.imgs {
    display: flex;
    align-items: end;
    height: 220px;
    margin-top: 40px;
    
}
img {
    width: 250px;
    height: 140px;
}

@media (max-width: 550px) {
    .container {
        width: 300px;
        height: 500px;
        padding: 16px;
    }
    .btns {
        width: 280px;
    }
    img {
        max-width: 220px;
        width: 100%;
        height: 170px;
        
    }
    h2 {
        text-align: center;
        font-size: 1.1rem;
    }
    .foot {
        font-size: 0.9rem;

    }
}


